<h2>Crete new item</h2>

<form (ngSubmit)="submitCreateItemForm()" [formGroup]="createItemForm" nz-form style="width: 50%;">

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name" nzRequired>Name</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid!">
      <input formControlName="name" id="name" nz-input/>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="category" nzRequired>Category</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid!">
      <input formControlName="category" id="category" nz-input/>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="description" nzRequired>Description</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid!">
      <input formControlName="description" id="description" nz-input/>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="register-area" nz-row>
    <nz-form-control [nzOffset]="6" [nzSpan]="14">
      <label formControlName="isActive" nz-checkbox>
        Is active
      </label>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="register-area" nz-row>
    <nz-form-control [nzOffset]="6" [nzSpan]="14">
      <button [disabled]="!createItemForm.valid" [nzType]="'primary'" nz-button>Create item</button>
    </nz-form-control>
  </nz-form-item>

</form>
