<form (ngSubmit)="submitItemFilterForm()" [formGroup]="itemFilterForm" nz-form>

  <nz-row>
    <nz-col nzSpan="8">
      <nz-form-item class="mw-90">
        <nz-form-control [nzSm]="14" [nzXs]="24" class="mw-90" nzErrorTip="The input is not valid!">
          <input class="mw-100" formControlName="name" id="name" nz-input placeholder="Name"/>
        </nz-form-control>
      </nz-form-item>
    </nz-col>

    <nz-col nzSpan="8">
      <nz-form-item class="mw-100">
        <nz-form-control [nzSm]="14" [nzXs]="24" class="mw-90" nzErrorTip="The input is not valid!">
          <input class="w-100" formControlName="category" id="category" nz-input placeholder="Category"/>
        </nz-form-control>
      </nz-form-item>
    </nz-col>

    <nz-col nzSpan="3">
      <button class="mw-100" nz-button nzType="default" >Filter</button>
    </nz-col>

  </nz-row>

</form>
