<nz-descriptions nzBordered nzTitle="Item Info">
  <nz-descriptions-item nzTitle="Name">{{ item?.name }}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Category">{{ item?.category }}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Description">{{ item?.description }}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Modified">{{ (item?.modified  | date: 'MMM d, y, h:mm a') ?? '-' }}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Created">{{ item?.created | date: 'MMM d, y, h:mm a' }}</nz-descriptions-item>
</nz-descriptions>

<nz-descriptions nzBordered nzTitle="Owner Info" style="margin-top: 30px">
  <nz-descriptions-item nzTitle="User">{{ item?.user?.username }}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Phone">091321123</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Email">{{ item?.user?.email }}</nz-descriptions-item>
</nz-descriptions>
